*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background: #000046;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
}
.centrar-pantalla{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.centrar-pantalla h2{
	margin: 0 0 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}
.centrar-pantalla input{
	margin: 0 0 15px 0;
	height: 30px;
	padding: 0 25px;
	font-size: 20px;
}
.centrar-pantalla p{
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	letter-spacing: 3px;
}